.album-art-drop {border:solid 1px #CCC; background-color:#d9f3fe; height:190px;}
.cover-art label {vertical-align:top; padding-top:5px;}
			
.notes-row label {vertical-align:top;}
.notes-row > textarea {vertical-align:top; height:120px;}

label.custom-checkbox {display: inline-block; vertical-align:middle;}

.col-form-label.col-2.tbd {margin-left:30px; margin-right:-20px;}
.col-3.notes.form-label {vertical-align: top;}


	