.album-art-drop {border:solid 1px #CCC; background-color:#d9f3fe; height:190px;}
.cover-art label {vertical-align:top; padding-top:5px;}
			
.notes-row {margin-left:15px;}
.notes-row > textarea {vertical-align:top; width:96.5%; height:120px;}



	