/* Territorial Rights & Blocking Polcies */

/* .card-nav {
  text-align: right;
  margin-bottom: 10px;
}

.card-nav .dropdown {
  margin-left: 10px;
}

.set-card {
  margin-left: -20px;
  padding: 1rem;
  background-color: #f5f5f5;
}

.set-card btn.dropdown {
  background-color: #fff;
}

.set-card table.table td {
  vertical-align: top;
  border-bottom: none;
}

.set-card table.table td input[type='text'] {
  align-content: center;
  text-align: center;
  margin: 0 auto;
}

.set-card .track-draggable-area {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

span.drag-drop-arrow {
  display: block;
  height: 33px;
  position: absolute;
  padding-left: 50px;
  left: -38px;
  bottom: -44px;
  background-image: url(/images/drag-over-arrow.png);
  background-repeat: no-repeat;
  z-index: 10;
}

span.drag-drop-arrow > span {
  position: absolute;
  top: -20px;
  left: -10px;
  width: 160px;
  font-size: 0.7em;
  font-weight: 700;
}

ul.countries,
ul.tracks {
  margin: 0;
  padding: 0.75rem;
  list-style: none;
}

ul.tracks {
  min-width: 260px;
}

ul.countries li,
ul.tracks li {
  display: flex;
  padding-bottom: 0.6rem;
}

ul.countries li .dropdown-item,
ul.tracks li .dropdown-item {
  margin: 0rem 0rem;
}

ul.countries li:last-child,
ul.tracks li:last-child {
  padding-bottom: 0;
}

ul.countries li span,
ul.tracks li span {
  vertical-align: middle;
}

ul.countries li label.dropdown-item,
ul.tracks li label.dropdown-item {
  padding: 0.5rem 1.1rem;
}

.dropdown .custom-checkbox {
  display: inline-block;
}

.dropdown.tracks-dropdown {
  padding-left: 0px;
}

.track-draggable-area.territory-tracks {
  min-height: 324px;
}

.territory-tracks {
  width: 260px;
}

.option-text {
  color: #999;
  font-style: italic;
}

.required-text {
  color: #ff0000;
  font-style: italic;
}

.platform-sprite.small {
  display: block;
  height: 28px;
  width: 80px;
  background-image: url(../../../images/platforms-sprite.png);
  background-repeat: no-repeat;
}

.platform-sprite.small.youtube {
  background-position: 0px -250px;
}

.platform-sprite.small.soundcloud {
  background-position: 0px -278px;
}

.platform-sprite.small.facebook {
  background-position: 0px -306px;
}

.platform-sprite.small.instagram {
  background-position: 0px -334px;
}

.platform-sprite.small.twitter {
  background-position: 0px -362px;
} */
.blk-plcy-table th:nth-child(1) {
  width: 27%;
}
.blk-plcy-table th:nth-child(2) {
  width: 17%;
}
.blk-plcy-table th:nth-child(3) {
  width: 5%;
}
.blk-plcy-table th:nth-child(4) {
  width: 10%;
}
.blk-plcy-table th:nth-child(5) {
  width: 15%;
}
.blk-plcy-table th:nth-child(6) {
  width: 16%;
}
.track-bg {
  background: #d9f3fe;
}
.bp-tr-list {
  padding: 10px;
  background: #ffffff;
  margin: 10px 3px;
}
.drop-area {
  min-height: 120px;
}
.policy-lp {
  min-height: 50px;
}
.policy-lp > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0px;
}

.light-gray-bg {
  background: #f5f5f5;
}

.light-gray-bg .react-datepicker__input-container {
  background: #f5f5f5;
}

.plt-img {
  min-width: 27%;
}

.monetize {
  min-width: 8%;
}

.blk-af-rel {
  min-width: 16%;
}

.duration {
  min-width: 24%;
}

.untill {
  min-width: 25%;
}

.bp-tr-list label,
.bp-tr-list .material-icons {
  margin-right: 10px;
}

.blk-plcy-table td {
  vertical-align: top;
  /* padding: 0px !important; */
}

.blk-plcy-table .form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.duration .form-control {
  height: 35px !important;
  width: 50%;
  border-radius: 4px;
  border-color: #c4c4c4;
}

.duration select.form-control:focus {
  background-color: #f5f5f5;
  border-color: #c4c4c4;
}

.untill .react-datepicker__input-container input {
  background-color: #f5f5f5;
  border: 1px solid #c4c4c4;
  height: 35px !important;
  border-radius: 4px;
  padding: 10px;
  width: 50%;
}
