/* Territorial Rights & Blocking Polcies */

.card-nav {text-align:right; margin-bottom:10px;}
.card-nav .dropdown {margin-left:10px;}

.set-card {margin-left:-20px; padding:1rem; background-color:#F5F5F5; }
.set-card btn.dropdown {background-color:#fff;}
.set-card table.table td {vertical-align:top; border-bottom:none;}
.set-card .track-draggable-area {max-height:400px; overflow-y: auto; overflow-x:hidden;}

span.drag-drop-arrow {display:block; height:33px; position:absolute; padding-left:50px; left:-38px; bottom:-44px; background-image:url(/images/drag-over-arrow.png); background-repeat:no-repeat;  z-index:10;}
span.drag-drop-arrow > span {position:absolute; top:-20px; left:-10px; width:160px; font-size: .7em; font-weight:700;}

ul.countries, ul.tracks {margin:0; padding:.75rem; list-style:none;}
ul.tracks {min-width:260px;} 
ul.countries li, ul.tracks li {display:flex; padding-bottom:.60rem;}
ul.countries li .dropdown-item, ul.tracks li .dropdown-item {margin:0rem 0rem;}
ul.countries li:last-child, ul.tracks li:last-child  {padding-bottom:0;}
ul.countries li span, ul.tracks li span {vertical-align:middle;}
ul.countries li label.dropdown-item, ul.tracks li label.dropdown-item {padding:.50rem 1.1rem;}

.dropdown .custom-checkbox {display:inline-block; }
.track-draggable-area.territory-tracks {min-height:324px;}
.territory-tracks {width:260px;}

.option-text {color:#999; font-style:italic;}
.required-text {color:#FF0000; font-style:italic;}

.platform-sprite {display:block; height:50px; width:140px; background-image:url(../../../images/platforms-sprite.png); background-repeat:no-repeat;}
.platform-sprite.youtube {background-position:0px 0px;}
.platform-sprite.soundcloud {background-position:0px -50px;}
.platform-sprite.facebook {background-position:0px -100px;}
.platform-sprite.instagram {background-position:0px -150px;}
.platform-sprite.twitter {background-position:0px -200px;}

.platform-sprite.small {display:block; height:28px; width:80px; background-image:url(../../../images/platforms-sprite.png); background-repeat:no-repeat;}
.platform-sprite.small.youtube {background-position:0px -250px;}
.platform-sprite.small.soundcloud {background-position:0px -278px;}
.platform-sprite.small.facebook {background-position:0px -306px;}
.platform-sprite.small.instagram {background-position:0px -334px;}
.platform-sprite.small.twitter {background-position:0px -362px;}