.message-wrapper {
  background: #f5f5f5;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  padding: 10px 10px 10px 20px;
}

.message-wrapper strong {
  font-weight: bold;
}

.pad-lft-25 {
  padding-left: 25px !important;
}

.message-wrapper .close {
  background: #ffffff;
}

.each-message {
  width: 100%;
  display: flex;
  line-height: 28px;
  justify-content: start;
}

.message-name {
  white-space: nowrap;
  margin-right: 10px;
  width: 28%;
}

.message-content {
  width: 68%;
}

.comments-list {
  height: 150px;
  overflow: scroll;
  margin-bottom: 15px;
}

.inbox-table td {
  color: rgb(113 113 113);
}

.unread {
  background-color: rgba(0, 0, 0, 0.05);
}

.unread td {
  font-weight: bold;
  color: #000;
}
