nav.left-nav {display: flex; flex-direction: column; width:260px!important; background-color:#000; text-align:left;}
nav.left-nav ul {list-style:none; margin:0; padding:0; background-color:#000;}
nav.left-nav ul li a {display:block; color:#fff; padding:10px 10px 10px 20px; text-decoration:none; border-bottom:solid 1px #333;}
nav.left-nav ul li a:hover {background-color:#333;}
nav.left-nav ul li a.steps {background-color:#464646;}
nav.left-nav ul li a.steps:hover {color:#333; background-color:#F5F5F5;}
nav.left-nav span.count-circle {color:#333; font-weight:700; padding: 3px 8px; margin:auto 6px auto 3px;}
nav.left-nav span.left-nav-logo {display:block; margin:20px auto 10px auto; background-image:url(../../../images/guardian-logo.png); background-repeat:no-repeat; height:133px; width:144px;}
nav.left-nav .fixed-left-nav {position:fixed; width:100%; top:0; left:0; padding: 0px 0px 0px 0px; background-image:url(../../../images/gradient-logo-bg.png); background-repeat:no-repeat; background-size:auto; overflow: hidden; background-color:#000;}