/* Territorial Rights & Blocking Polcies */

.card-nav {
  text-align: right;
  margin-bottom: 10px;
}

.card-nav .dropdown {
  margin-left: 10px;
}

.set-card {
  margin-left: -20px;
  margin-bottom: 10px;
  padding: 1rem;
  background-color: #f5f5f5;
}

.btn.btn-secondary.dropdown-toggle {
  background-color: #fff;
}

.btn.btn-secondary.dropdown-toggle:disabled {
  background-color: #ccc;
  width: 100% !important;
}

.set-card table.table th {
  align-content: center;
  text-align: center;
  text-align: -webkit-center;
  margin: 0 auto;
}

.set-card table.table td {
  vertical-align: middle;
  align-content: center;
  text-align: center;
  text-align: -webkit-center;
  border-bottom: none;
}

.set-card table.table td input[type='text'] {
  align-content: center;
  text-align: center;
  margin: 0 auto;
}

.set-card .track-draggable-area {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.set-card h3 {
  margin-top: 8px;
  margin-right: 8px;
}

span.drag-drop-arrow {
  display: block;
  height: 33px;
  position: absolute;
  padding-left: 50px;
  left: -38px;
  bottom: -44px;
  background-image: url(../../../images/drag-over-arrow.png);
  background-repeat: no-repeat;
  z-index: 10;
}

span.drag-drop-arrow > span {
  position: absolute;
  top: -20px;
  left: -10px;
  width: 160px;
  font-size: 0.7em;
  font-weight: 700;
}

ul.countries,
ul.tracks {
  margin: 0;
  padding: 0.75rem;
  list-style: none;
}

ul.tracks {
  min-width: 260px;
}

ul.countries li,
ul.tracks li {
  display: flex;
  padding-bottom: 0.6rem;
}

ul.countries li .dropdown-item,
ul.tracks li .dropdown-item {
  margin: 0rem 0rem;
}

ul.countries li:last-child,
ul.tracks li:last-child {
  padding-bottom: 0;
}

ul.countries li span,
ul.tracks li span {
  vertical-align: middle;
}

ul.countries li label.dropdown-item,
ul.tracks li label.dropdown-item {
  padding: 0.5rem 1.1rem;
}

.track-draggable-area.territory-tracks {
  min-height: 100px !important;
}

.dropdown .custom-checkbox {
  display: inline-block;
}

.territory-tracks {
  width: 260px;
}

.dropdown.tracks-dropdown {
  padding-left: 0px;
  width: 100%;
}

table.territorial-rights-table th {
  padding: 20px 0 10px 0;
}

table.territorial-rights-table td {
  border-top: solid 1px #ccc;
  padding-top: 10px;
}

.option-text {
  color: #999;
  font-style: italic;
}

.required-text {
  color: #ff0000;
  font-style: italic;
}

button.btn.btn-secondary.action.align-middle {
  padding: 0px 0.25rem;
  margin-left: 4px;
  height: 1.9rem;
}

.select-all {
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.select-all span {
  padding-left: 10px;
}

.rightsSetTracks .custom-checkbox,
.unassignedTrack .custom-checkbox {
  margin: 0 6px;
}

.country-list {
  overflow: scroll;
  overflow-x: hidden;
}

.country-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.set-card .track-draggable-area::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.review-card.territorial table tr td:nth-child(3) {
  max-height: 100px;
  overflow: auto;
  padding: 10px 0px;
}

.review-card.territorial table tr td:nth-child(4) {
  max-height: 100px;
  overflow: auto;
  padding: 10px 0px;
}

.review-card.territorial table tr td::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.unassignedTrack-red {
  color: #e74c3c;
}

.track-tit-name {
  padding-left: 5px;
}
