.comment-slider-wrap {
  position: fixed;
  z-index: 9999;
  background: #f5f5f5;
  top: 270px;
  right: 4px;
  padding: 4px;
  width: 360px;
  height: 60%;
  overflow: auto;
  animation-name: slider;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes slider {
  from {
    right: -200px;
  }
  to {
    right: 4;
  }
}

.comment-slider {
  box-shadow: 0px 1px 2px 2px #dddddd;
  padding: 10px;
  position: relative;
  height: 100%;
}

.comment-slider .close {
  display: flex;
  justify-content: flex-end;
  float: none;
}

.comment-slider ul {
  padding: 0;
}

.comment-slider ul li {
  list-style-type: none !important;
  margin: 8px auto;
}

.text-right {
  text-align: right;
}

.comment-slider .close {
  position: absolute;
  right: 8px;
  top: 8px;
}
