.msh-wrapper {
  background: #f5f5f5;
  line-height: 3rem;
  /* width: 435px; */
  padding: 10px;
}

.requestFormInput .dropdown-toggle::after {
  position: absolute;
  top: 8px;
  left: 250px;
}
.releaseInfoInput .dropdown-toggle::after {
  position: absolute;
  right: 6px;
  top: 8px;
}

.msh-content {
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 12px;
  font-size: 0.9em;
}

label.custom-checkbox.msh-checkbox {
  width: 40px !important;
}
/* .company-wrapper{
  padding: 10px;;
} */

.divison-wrapper {
  padding-left: 30px;
}

.requestFormInput .dropdown-menu {
  margin-top: -4px;
  margin-left: -6px !important;
}
.releaseInfoInput .dropdown-menu {
  margin-top: -3px !important;
}
.ms-dropdown-wrapper .dropdown-menu {
  box-shadow: 2px 3px 8px #8c9396;
  max-height: 30rem;
  min-width: auto;
  overflow-y: auto;
  overflow-x: auto;
  transform: translate3d(5px, 35px, 0px) !important;
  width: 450px !important;
  padding: 0 !important;
  margin-left: -14px;
}
.ms-dropdown-toggle {
  color: #495057 !important;
  background: #f4f5f5 !important;
  border-color: #ced4da !important;
}

.label-wrapper {
  padding-left: 30px;
  margin-top: -10px;
}

.msh-wrapper .sub-title,
.msh-wrapper .main-title {
  color: rgba(0, 0, 0, 0.7);
}

.msh-wrapper .main-title {
  font-size: 16px;
}
.msh-wrapper input {
  width: 428px !important;
  display: inherit !important;
  height: 35px !important;
}

.inside-wrapper {
  position: relative;
}
.search-icon {
  color: #999999 !important;
  font-size: 22px;
  top: 7px !important;
}

.tree {
  position: relative;
  margin-top: -10px;
}

.msh-wrapper .tree .vl {
  border-left: 2px solid #ddd;
  height: 25px;
  position: absolute;
  top: 0px;
  left: -18px;
  margin-top: 1px;
}

.msh-wrapper .tree .hl {
  border-bottom: 2px solid #ddd;
  width: 20px;
  display: inline-block;
  position: absolute;
  top: 24px;
  left: -17px;
}

.msh-wrapper .tree .ex-ht {
  height: 39px;
  top: -14px;
}

.msh-wrapper .material-icons.search-icon {
  display: inline-flex;
  vertical-align: top;
  position: absolute;
  top: 10px;
  right: 4px;
  color: rgba(0, 0, 0, 0.7);
}

.msh-parent-wrapper {
  display: flex;
}
.search-input {
  position: relative;
}

.rmvPadDivisonLabel {
  padding-left: 0px !important;
}

@media (min-width: 576px) {
  div#RequestAccesModal.modal-dialog {
    max-width: 630px;
    margin: 1.75rem auto;
  }
}

.requestFormInput #dropdown-autoclose-inside {
  width: 280px !important;
  height: 38px;
  left: 0px;
  text-align: left;
  overflow: auto;
}

.releaseInfoInput #dropdown-autoclose-inside {
  width: 50% !important;
  height: 38px;
  left: 0px;
  margin-left: -8px;
  text-align: left;
  overflow: auto;
}

.userAdminModal #dropdown-autoclose-inside {
  width: 50% !important;
  height: 38px;
  left: 0px;
  margin-left: -8px;
  text-align: left;
  overflow: auto;
}
.userAdminModal .dropdown-menu {
  margin-top: -7px !important;
  margin-left: 0px;
}

.userAdminModal .dropdown-toggle::after {
  position: absolute;
  right: 6px;
  top: 8px;
}
.userEditModal #dropdown-autoclose-inside {
  width: 216px !important;
  height: 36px;
  left: 0px;
  text-align: left;
  overflow: auto;
}
.userEditModal .dropdown-menu {
  margin-top: -5px !important;
  margin-left: -5px;
}

.userEditModal .dropdown-toggle::after {
  position: absolute;
  right: 6px;
  top: 8px;
}

.filterModal #dropdown-autoclose-inside {
  width: 210px !important;
  height: 38px;
  left: 0px;
  margin-left: 1px !important;
  /* margin-left: 60px !important; */
  text-align: left;
  overflow: auto;
}
.filterModal .dropdown-toggle::after {
  position: absolute;
  right: 6px;
  top: 8px;
}
.filterModal .dropdown-menu {
  margin-top: -7px !important;
  margin-left: -5px;
}
